.pagination {
    display: flex;
    &__control {
        display: flex;
        & > div{
            padding: 10px;
        }
        & div:hover {
            cursor: pointer;
        }
    }
    &__data {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        width: 100px;
    }
}