// Theme
$primary-main : indianred;
$primary-light : #e47f93;
$primary-dark: #b40024;

$secondary-main : #FDBC11;
$secondary-light : #ffd876;
$secondary-dark: #d19600;

$error-main: #EC4466;
$error-light: #eb748c;
$error-dark: #770018;

$warning-main:#ed6c02;
$warning-light: #ff9800;
$warning-dark: #e65100;

$info-main: #0288d1;
$info-light: #03a9f4;
$info-dark: #01579b;

$success-main: #2e7d32;
$success-light: #4caf50;
$success-dark: #1b5e20;

$text-primary: #2B2B2B ;
$text-secondary:#808080;
$text-tertiary:#9e9e9e;
$text-disabled: rgba(0, 0, 0, 0.5);

$border :#edebeb;

$black: #2B2B2B;
$semi-black:#808080;
$black-25:#ADADAD;
$black-50:#F2F2F2;
$black-75:#FDFDFD;
$light: #FFFFFF;

$seconday-filtered: invert(81%) sepia(63%) saturate(1936%) hue-rotate(347deg) brightness(99%) contrast(101%);